<style>
	.menu{
		display: flex;
		text-align: center;
		padding: 10px 0;
		background-color: #fff;
		display: -webkit-box;
	}
	.menu a{
		display: block;
		flex: 1;
		-webkit-box-flex: 1;
	}
	.menu .icon{
		display: block;
	    margin: 0 auto;
	    height: 22px;
	    width: 22px;
	}
	.menu .text{
		font-size: 12px;
		line-height: 2.4;
	}
</style>
<div class="menu">
	<a href="/male">
		<img src="/static/img/male.png" class="icon"/>
		<span class="text">男生</span>
	</a>
	<a href="/female">
		<img src="/static/img/female.png" class="icon"/>
		<span class="text">女生</span>
	</a>
	<a href="/category">
		<img src="/static/img/category.png" class="icon"/>
		<span class="text">分类</span>
	</a>
	<a href="/rank">
		<img src="/static/img/rank.png" class="icon"/>
		<span class="text">排行</span>
	</a>
</div>