<link href="//cdn.bootcss.com/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/Swiper/3.4.1/js/swiper.min.js"></script>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" v-for="item in swiper">
    	<a v-bind:href="item.reference_id">
    		<img v-bind:src="item.ad_pic_url" width="100%" alt="{{ item.ad_name }}"/>
    	</a>
    </div>
   <!-- <div class="swiper-slide">
    	<a href="javascript:;">
    		<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" width="100%"/>
    	</a>
    </div>
    <div class="swiper-slide">
    	<a href="javascript:;">
    		<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" width="100%"/>
    	</a>
    </div>-->
  </div>
</div>
<script> 
var mySwiper = new Swiper('.swiper-container', {
	autoplay: 5000,//可选选项，自动滑动
	loop:true,
	observer:true,//修改swiper自己或子元素时，自动初始化swiper
    observeParents:true//修改swiper的父元素时，自动初始化swiper
})
</script>