<style>
	.user-list{	}
	
	.user-list .list-item{
		position: relative;
	    overflow: hidden;
	    border-bottom: 1px solid #eee;   
	}
	.user-list .list-item a{
		 display: flex;
		 padding: 15px;
		 color: #6b3416;
	}
	.user-list .list-item .item-img{
		flex: 0 0 36px;
		width: 36px;
		position: relative;
	}
	.user-list .list-item .item-img img{
		position: absolute;
		top:50%;
		width: 36px;
		height: 36px;
		left: 0;
		margin-top: -18px;
		border-radius: 50%;
	}
	.user-list .list-item .item-content{
		flex: 1;
		padding-left: 20px;
		position: relative;
	}
	.user-list .list-item .item-content .title{
		font-size: 14px;
		margin-bottom: 3px;
	}
	.user-list .list-item .item-content .title .coin{
		margin-left: 10px;
		background: url("http://image.read.duokan.com/mfsv2/download/s010/p01hW6qWoijj/3W1gVesrl2Td6w.png")no-repeat left center;
		padding-left: 24px;
		color: #ff9c00;
	    background-size: 28px;
	    background-repeat: no-repeat;
	    background-position: -3px;
	}
	.user-list .list-item .item-content  .summary{
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-size: 12px;
	}
	.explain{
		padding: 20px 0 10px;
		font-size: 12px;
	    text-align: center;
	    color: #888;
	}
</style>
<ul class="user-list">
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p017rdZTB65K/pDJrF2XCYRGKRP.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">每日签到</h3>
				<p class="summary">每天签到都有奖，连续7天抽大奖！</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p013RMsIOqyv/sGIEbajzOxoxwT.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">新人大礼<span class="coin">送500书币</span></h3>
				<p class="summary">新用户立刻获赠500书币大礼包，马上去领取吧！新用户立刻获赠500书币大礼包，马上去领取吧！新用户立刻获赠500书币大礼包，马上去领取吧！新用户立刻获赠500书币大礼包，马上去领取吧！</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">5元充值</h3>
				<p class="summary">充值5元获得500书币</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">10元充值</h3>
				<p class="summary">充值10元获得1000书币</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">15元充值</h3>
				<p class="summary">充值15元获得1500书币</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">20元充值</h3>
				<p class="summary">充值20元获得2000书币</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">25元充值</h3>
				<p class="summary">充值25元获得2500书币</p>
			</div>
		</a>
	</li>
	<li class="list-item">
		<a href="javascript:;">
			<div class="item-img">
				<img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png" alt="" width="100%"/>
			</div>
			<div class="item-content">
				<h3 class="title">30元充值</h3>
				<p class="summary">充值30元获得3000书币</p>
			</div>
		</a>
	</li>
</ul>
<div class="explain">1元=100书币，充值任务赠送的书币半年后失效。</div>